body {
    background: rgb(111, 168, 201); 
    font: normal 16pt arial;
}

header {
    color: white;
    text-align: center;
}

div {
    text-align: center;
    padding: 8px;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(44, 42, 42);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}
